.screen1 {
  padding: 30px 0;
  &__title {
    font-family: var(--primary-font);
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    margin: 0;
    br {
      display: none;
    }
  }
  &__line {
    width: 150px;
    height: 1px;
    background-color: #000;
    margin: 15px auto;
  }
  &__des {
    text-align: justify;
    text-align-last: center;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__video{
    position: relative;
    margin-top: 30px;
    img{
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__note{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  &__menu {
    width: 100%;
    max-width: 280px;
    img {
      display: none;
    }
  }
  &__detail {
    width: 100%;
    min-height: calc(100vh - 200px);
  }
  &__ani{
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear all;
    &.ani{
      visibility: visible;
      opacity: 1;
    }
  }
  &__pic {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  &__menuItems {
    margin: 0;
    padding: 0;
    li {
      padding: 10px;
      border-bottom: 1px solid #bdbdbd;
      text-transform: uppercase;
      list-style: none;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background: #bee0ff;
      }
    }
  }
  &__item {
    width: calc(50% - 10px);
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      display: block;
      transition: all 0.2s linear;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  &__btn {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
      text-align: center;
      cursor: pointer;
      padding: 5px 15px;
      border-radius: 30px;
      border: 1px solid #000;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 auto;
      transition: all 0.2s linear;
      &:hover {
        background: #bee0ff;
        border: 1px solid #fff;
      }
    }
  }
  &__btnHide {
    margin-top: 0;
  }
  #inputHidden {
    display: none;
  }
  .pagination {
    display: none;
  }
  @media (max-width:1024px){
    padding: 15px 0 30px;
    &__title {
      font-size: 22px;
    }
    &__pic {
      gap: 15px;
    }
    &__play{
      width: 70px;
      height: 70px;
    }
  }
  @media (max-width: 767px) {
    #inputHidden {
      display: block;
      padding: 10px;
      text-transform: uppercase;
      border: none;
      background: #bee0ff;
      width: 100%;
      border-bottom: 1px solid #bdbdbd;
      position: relative;
    }
    &__line {
      margin: 10px auto;
    }
    &__box {
      flex-direction: column;
      gap: 20px;
      position: relative;
    }
    &__menu {
      max-width: 100%;
      img {
        display: block;
        position: absolute;
        right: 10px;
        top: 18px;
        width: 17px;
        height: auto;
        z-index: 9;
      }
    }
    &__menuItems{
      display: flex;
      flex-wrap: wrap;
      li{
        text-transform: capitalize;
        font-size: 12px;
        padding: 5px 10px;
        margin: 5px;
        border: 1px solid #000;
        border-radius: 55px;
        &.active{
          border-color: #ccc;
        }
      } 
    }
    &__detail {
      min-height: 100vh;
    }
    &__item {
      width: 100%;
    }
    &__btn {
      display: none;
    }
    .pagination {
      display: block;
      text-align: center;
      margin: 15px 0;
    }
    .pagination__item {
      display: inline-block;
      margin: 0 10px;
      padding: 4px 6px;
      color: #000;
    }
    .pagination__item.active {
      border: 1px solid #333;
      border-radius: 15px;
    }

    .pagination__item.disabled {
      pointer-events: none;
      color: #ccc;
    }
  }
  @media (max-width: 320px) {
    &__title {
      font-size: 20px;
    }
    &__des {
      font-size: 14px;
    }
  }
}
.modal-pic iframe {
  margin: 0 auto;
  display: block;
}
.menu__item.active {
  background: #bee0ff;
}

