.screen1 {
    background: url(../images/t1-bg.jpg) center 0 no-repeat;
    background-size: 1920px;
    min-height: 430px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 155px;

    &__boxText {
        width: 65%;
        margin-left: 40px;
    }

    &__title {
        width: 580px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__text {
        font-family: var(--primary-font);
        color: #fff;
        font-size: 1.1rem;
    }

    @media (max-width: 1440px) {
        background-size: 1440px;
        min-height: 323px;
        padding-bottom: 70px;

        &__boxText {
            margin-left: 168px;
        }
    }

    @media (max-width: 1200px) {
        background-size: 1200px;
        min-height: 269px;
        padding-bottom: 62px;

        &__boxText {
            margin-left: 140px;
            width: 60%;
        }

        &__title {
            width: 420px;
        }

        &__text {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 1024px) {
        background-size: 1024px;
        min-height: 229px;
        padding-bottom: 14px;

        &__title {
            margin-bottom: 8px;
        }

        &__boxText {
            margin-left: 76px;
        }
    }

    @media (max-width: 430px) {
        background: url(../images/t1-bg-mb.jpg) center 0 no-repeat;
        background-size: 430px;
        min-height: 650px;
        padding-bottom: 370px;

        &__boxText {
            margin-left: 0;
            width: 100%;
        }

        &__title {
            width: 100%;
        }

        &__text {
            text-align: justify;
        }
    }

    @media (max-width: 280px) {
        padding-bottom: 338px;
    }
}

.screen2 {
    padding: 30px 0;

    &__box {
        display: flex;
    }

    &__boxLeft {
        width: 20%;
    }

    &__step {
        font-family: var(--primary-font);
        text-align: center;
        border: 1px solid #BDCADA;
        border-radius: 30px;
        width: 60%;
        padding: 5px 10px;
        margin: 0 auto 10px;
        display: block;
        color: #BDCADA;
        font-weight: 600;
        cursor: pointer;

        &.active {
            background-color: #BDCADA;
            color: #112744;
        }
    }

    &__boxRight {
        flex: 1;
    }

    &__item {
        display: flex;
    }

    &__boxText {
        width: 50%;
    }

    &__title {
        font-family: var(--primary-font);
        color: #234E88;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    &__text {
        font-family: var(--primary-font);
        text-align: justify;
        font-size: 1rem;
    }

    &__pic {
        flex: 1;
        margin-left: 20px;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 15px;
        }
    }

    @media (max-width: 430px) {
        &__box {
            flex-direction: column;
        }

        &__boxLeft {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__item {
            flex-direction: column;
        }

        &__step {
            width: 20%;
            padding: 5px 10px;
            font-size: 1rem;
            margin: 0 3px 10px;
            border-radius: 12px;
        }

        &__boxRight {
            margin-top: 20px;
        }

        &__boxText {
            width: 100%;
        }

        &__pic {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    @media (max-width: 390px) {
        &__boxLeft {
            flex-wrap: wrap;
        }

        &__step {
            width: 30%;
        }
    }
}