.service_knrh_1_0_0 {
    padding: 10px 0 50px;

    &__box {
        display: flex;
    }

    &__item {
        position: relative;
        overflow: hidden;

        &.item1 {
            border-radius: 50px 0 0 50px;
        }

        &.item3 {
            border-radius: 0 50px 50px 0;
        }
    }

    &__pic {
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.04);
                opacity: .8;
            }
        }

        &.pic1 {
            img {
                border-radius: 50px 0 0 50px;
            }
        }

        &.pic3 {
            img {
                border-radius: 0 50px 50px 0;
            }
        }
    }

    &__boxList {
        position: absolute;
        bottom: 15px;
        left: 30px;

        ul {
            padding-left: 0px;
            margin: 0;

            li {
                list-style: none;
                margin-bottom: 10px;

                a {
                    font-family: var(--primary-font);
                    color: #fff;
                    font-size: 1.1rem;

                    &:hover {
                        color: #db7f27;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {

        &__boxList {
            left: 20px;
            bottom: 8px;

            ul {
                li {
                    margin-bottom: 8px;

                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    @media (max-width: 912px) {

        &__boxList {
            ul {
                li {
                    margin-bottom: 0px;

                    a {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        .container {
            padding: 0;
        }

        &__box {
            flex-direction: column;
        }

        &__item {

            &.item1 {
                border-radius: 0;
            }

            &.item3 {
                border-radius: 0;
            }
        }

        &__pic {

            &.pic1 {
                img {
                    border-radius: 0;
                }
            }

            &.pic3 {
                img {
                    border-radius: 0;
                }
            }
        }

        &__boxList {
            ul {
                li {
                    margin-bottom: 15px;

                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    @media (max-width: 375px) {
        &__boxList {
            ul {
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}