.work_knrh_1_0_0 {
    padding: 0 0 50px;

    &__box {
        display: flex;
    }

    &__boxLeft,
    &__boxRight {
        width: 50%;
    }

    &__boxLeft {
        background: #112744;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: var(--primary-font);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3rem;

        span {
            font-size: 1.8rem;
        }
    }

    &__desc {
        font-family: var(--primary-font);
        color: #fff;
        text-align: center;
        font-size: 1.1rem;
        margin: 10px 0 20px;
    }

    &__btn {
        background: #fff;
        font-family: var(--primary-font);
        padding: 8px 25px;
        color: #2e61a4;
        font-size: 1rem;
        transition: all .3s linear;
        border: 1px solid #fff;

        &:hover {
            background: unset;
            border: 1px solid #fff;
            color: #fff;
            transition: all .3s linear;
        }
    }

    &__boxRight {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media (max-width: 1024px) {
        &__title {
            font-size: 1.2rem;

            span {
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width: 767px) {

        .container {
            padding: 0;
        }

        &__box {
            flex-direction: column;
        }

        &__boxLeft {
            width: 100%;
            background: url(../images/banner-mb.jpg) center 0 no-repeat;
            background-size: 430px;
            min-height: 379px;
        }

        &__title {
            color: #000;
            font-weight: 600;

            span {
                color: #2e61a4;
            }
        }

        &__desc {
            color: #2e61a4;
            font-weight: 500;
        }

        &__btn {
            background: unset;
            border: 1px solid #2e61a4;

            &:hover {
                background: unset;
                color: #2e61a4;
                border: 1px solid #2e61a4;
            }
        }

        &__boxRight {
            display: none;
        }
    }

    @media (max-width: 430px) {
        padding: 0 0 35px;
    }
}