.screen1 {
  padding: 55px 0 30px;
}
.screen1__title {
  font-family: var(--primary-font);
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  margin: 0;
}
.screen1__title br {
  display: none;
}
.screen1__line {
  width: 150px;
  height: 1px;
  background-color: #000;
  margin: 15px auto;
}
.screen1__des {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
.screen1__box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.screen1__video {
  position: relative;
  margin-top: 30px;
}
.screen1__video img {
  width: 100%;
  height: auto;
  display: block;
}
.screen1__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.screen1__note {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  font-size: 1.2rem;
}
.screen1__menu {
  width: 100%;
  max-width: 280px;
}
.screen1__menu img {
  display: none;
}
.screen1__detail {
  width: 100%;
}
.screen1__pic {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.screen1__menuItems {
  margin: 0;
  padding: 0;
}
.screen1__menuItems li {
  padding: 10px;
  border-bottom: 1px solid #bdbdbd;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.screen1__menuItems li:hover {
  background: #bee0ff;
}
.screen1__item {
  width: calc(50% - 10px);
  overflow: hidden;
}
.screen1__item img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.2s linear;
}
.screen1__item img:hover {
  transform: scale(1.03);
}
.screen1__btn {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.screen1__btn button {
  text-align: center;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid #000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
  transition: all 0.2s linear;
}
.screen1__btn button:hover {
  background: #bee0ff;
  border: 1px solid #fff;
}
.screen1__btnHide {
  margin-top: 0;
}
.screen1 #inputHidden {
  display: none;
}
.screen1 .pagination {
  display: none;
}
@media (max-width: 1024px) {
  .screen1 {
    padding: 15px 0 30px;
  }
  .screen1__title {
    font-size: 22px;
  }
  .screen1__pic {
    gap: 15px;
  }
  .screen1__play {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 767px) {
  .screen1 #inputHidden {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    background: #bee0ff;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    position: relative;
  }
  .screen1__line {
    margin: 10px auto;
  }
  .screen1__box {
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  .screen1__menu {
    max-width: 100%;
  }
  .screen1__menu img {
    display: block;
    position: absolute;
    right: 10px;
    top: 18px;
    width: 17px;
    height: auto;
    z-index: 9;
  }
  .screen1__menuItems {
    display: flex;
    flex-wrap: wrap;
  }
  .screen1__menuItems li {
    text-transform: capitalize;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 55px;
  }
  .screen1__menuItems li.active {
    border-color: #ccc;
  }
  .screen1__detail {
    width: 100%;
  }
  .screen1__item {
    width: 100%;
  }
  .screen1__btn {
    display: none;
  }
  .screen1 .pagination {
    display: block;
    text-align: center;
    margin: 15px 0;
  }
  .screen1 .pagination__item {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 6px;
    color: #000;
  }
  .screen1 .pagination__item.active {
    border: 1px solid #333;
    border-radius: 15px;
  }
  .screen1 .pagination__item.disabled {
    pointer-events: none;
    color: #ccc;
  }
}
@media (max-width: 320px) {
  .screen1__title {
    font-size: 20px;
  }
  .screen1__des {
    font-size: 14px;
  }
}

.modal-pic iframe {
  margin: 0 auto;
  display: block;
}

.menu__item.active {
  background: #bee0ff;
}/*# sourceMappingURL=main.css.map */