.screen1 {
    &__box {
        display: flex;
    }

    &__pic {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media (max-width: 767px) {
        &__box {
            flex-direction: column;
        }

        &__pic {
            &.pic1 {
                display: none;
            }
        }
    }
}

.screen2 {
    &__item {
        display: flex;
        align-items: stretch; /* Thay đổi từ center thành stretch */
        margin: 80px 0 130px;
    }
    &__pic {
        width: 45%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__boxText {
        flex: 1;
        background: #BDCADA;
        padding: 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    &__text {
        font-family: var(--primary-font);
        color: #234E88;
        font-size: 1.1rem;

        span {
            font-weight: 600;
        }
    }
    &__icon {
        width: 110px;
        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &.iconBottom {
            position: absolute;
            right: 34px;
            bottom: -38px;
        }

        &.iconTop {
            position: absolute;
            left: 34px;
            top: -38px;
        }
    }

    @media (max-width: 1200px) {
        &__boxText {
            padding: 75px;
        }
        &__text {
            font-size: 1rem;
        }
    }

    @media (max-width: 912px) {
        &__item {
            margin: 80px 0 95px;
        }
        &__boxText {
            padding: 40px;
        }
        &__icon {
            width: 80px;

            &.iconBottom {
                bottom: -24px;
            }
            &.iconTop {
                top: -24px;
            }
        }
    }

    @media (max-width: 767px) {
        &__item {
            flex-direction: column;
            margin: 45px 0;

            &.itemMB {
                flex-direction: column-reverse;
            }
        }
        &__pic {
            width: 100%;
        }
        &__boxText {
            padding: 25px;
        }
        &__icon {
            display: none;
        }
    }
}